@import "tailwindcss";

:root {
  --primary-color: #30477e;
  --secondary-color: #d4af37;
  --background-color: #ffffff;
  --text-color: #000000;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-background: var(--background-color);
  --color-text: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
